<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <parameter name="env" value="Prod"/>
  <parameter name="tags" value="@reg"/>
  <test thread-count="5" name="Test">
  	<classes>
  		<class name="com.qa.guru99.runner.Runner"/>
  	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
